@font-face{
    src: url("../font/TaxiDriver.ttf");
    font-family: "Taxi Driver";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: 18px;
    background-color: rgb(253, 197, 170);
    transition: all 0.4s ease-out;
}
.max-header{
    background-color:rgb(245, 95, 69);
    height: 100px;
}
.min-header{
    background-color: red;
    height: 80px;
}

.contener{
    max-width: 1200px;
    height: 100%;
    margin:0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas:
    "lgo ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
}
.logo{
    grid-area: lgo;
}
.logo img{
    transition: all 0.4s ease-out;
}
.max-logo img{
    width: 260px
}
.min-logo img{
   width: 160px;
}
.nav-bar{
    grid-area: nav;
    display: grid;
    align-content: center;
}
.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
   
}
.nav-bar a {
    font-family: "Taxi Driver";
    text-transform: uppercase;
    transition: all 0.4s ease-out;
}
.max-nav a{
    font-size: 1em;
    color: aliceblue;
}
.min-nav a{
    font-size: 0.875em;
    color: black;
}
.problema{
    width: 100%;
    height: 100%;
    background-color: rgb(240, 41, 6);
}
main{
    font-size: 20px;
}
main .Centro{
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: "Taxi Driver";
    font-size: 1em;
} 

h1{
    text-align: center;
    margin-top: 100px; 
 }
 .msg{
     display: grid;
     justify-content: center;
     width: 400px;
     max-width: 100%;
     margin: 50px;
     padding: 10px;
 }
 .msg  input{
     max-width: 800px;
     border: 5px;
     width: 280px;
     height: 30px;
 }
 .Conta{
     width: 900px;
     height: 800px;
     min-width: 400px;
     background-image: url(../fotos/Recife.jpg);
    background-attachment: local;
     background-repeat: no-repeat;
    background-size: 1200px;
    border: 60px;
    justify-content: center;
    align-content: center;
 }
 button{
    color: black;
    border: 5px;
    border-radius: 6px;
    box-shadow: 5px;
    width: 70px;
    height: 30px;
    background-color: orangered;
}
#maior{
    width: 400px;
    height: 160px;
    justify-content: center;
    align-content: center;

}
fieldset{
    justify-content: flex-start;
    justify-items: center;
    width: 400px;
    height: 550px;
}